// Reset Library
@import "libs/reset";

// Main styles
@import "libs/fonts";
@import "libs/colors";

// Second Styles
@import "libs/bar";
@import "libs/intro";
@import "libs/articles";
@import "libs/bioPhrase";
@import "libs/footer";
@import "libs/loader";
@import "libs/articleOpen";


%back1 {
  background: url('/img/noise1.png'), #d2d2d2; 
              // linear-gradient(to bottom, 
              // #d2d2d2 35%,
              // #ACB7B6 55%,
              // #a8a8a8 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
  font-family: 'ratBook';
  font-weight: 400;
  color: rgb(9, 9, 17);
  overflow-x: hidden;
  background-color: $backgroundGray;
}

a {
  text-decoration: none;
  &:visited {
    color: $mainColor;
  }
}

#main-bar {
  position: fixed;
}

#app {
  @extend %back1;
  position: absolute;
  -webkit-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
  -moz-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
    -o-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
       transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); /* custom */
  width: 100%;
  transform: translateX(0px);
}

.main-bar-open-app {
  transform: translateX(350px) !important;
  // left: 300px !important;
}

.main-bar-open-bar {
  transform: translateX(0px) !important;
  // left: 300px !important;
}

.no-overflow {
  overflow: hidden;
  height: 100%;
}

.fixScroll {
  overflow: hidden;
  height: 0;
}