// Reset Library
@import "libs/reset";

// Main styles
@import "libs/fonts";
@import "libs/colors";

// Second Styles
@import "libs/bar";
@import "libs/intro";
@import "libs/articles";
@import "libs/bioPhrase";
@import "libs/footer";
@import "libs/loader";

%back1 {
  background-image: linear-gradient(180deg, #f3f3f6 40%, #ebebeb 40%, #ebebeb 43.33%, #f1f1f1 43.33%, #f1f1f1 50%, #f3f3f6 50%, #f3f3f6 90%, #ebebeb 90%, #ebebeb 93.33%, #f1f1f1 93.33%, #f1f1f1 100%);
  background-size: 30.00px 30.00px;
  background-attachment: fixed;
}

body {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: rgb(9, 9, 17);
  background-color: $myWhite;
  overflow-x: hidden;
  @extend %back1;
}

a {
  text-decoration: none;
  &:visited {
    color: $mainColor;
  }
}

#main-bar {
  position: fixed;
}

#app {
  position: absolute;
  -webkit-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
  -moz-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
    -o-transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); 
       transition: all .25s cubic-bezier(0.765, 0.005, 0.365, 1.000); /* custom */
  transform: translateX(0px);
}

.main-bar-open-app {
  transform: translateX(350px) !important;
  // left: 300px !important;
}

.main-bar-open-bar {
  transform: translateX(0px) !important;
  // left: 300px !important;
}

.noOverflow {
  overflow: hidden;
  height: 0;
}