@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700|Averia+Libre:300,400,700|Averia+Sans+Libre:400,700|Averia+Serif+Libre:300i,400,700|Old+Standard+TT:400,400i,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, main,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  backface-visibility: hidden; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border-style: hidden; }

input[type=text]:focus, input[type=date]:focus, input[type=file]:focus, p[contenteditable=true]:focus,
input[type=submit]:focus {
  outline: transparent; }

svg:focus {
  outline: transparent; }

@font-face {
  font-family: 'Beauty';
  src: url("/fonts/Beauty.otf"); }

@font-face {
  font-family: 'cons';
  src: url("/fonts/cons.ttf"); }

@font-face {
  font-family: 'Sax';
  src: url("/fonts/Sax.otf"); }

@font-face {
  font-family: 'Saxi';
  src: url("/fonts/Saxi.otf"); }

@font-face {
  font-family: 'Saxbo';
  src: url("/fonts/Saxbo.ttf"); }

@font-face {
  font-family: 'rabo';
  src: url("/fonts/rabo.otf"); }

@font-face {
  font-family: 'raexbo';
  src: url("/fonts/raexbo.otf"); }

@font-face {
  font-family: 'rali';
  src: url("/fonts/rali.otf"); }

@font-face {
  font-family: 'rame';
  src: url("/fonts/rame.otf"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?60733903");
  src: url("../fonts/fontello.ttf?60733903") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60733903#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-flash:before {
  content: '\e800'; }

/* '' */
.icon-headphones:before {
  content: '\e801'; }

/* '' */
.icon-certificate:before {
  content: '\f0a3'; }

/* '' */
.view {
  opacity: 1 !important; }

.alert {
  color: #ff4d4d !important; }

.rotate-icon {
  transform: rotateY(-180deg) !important; }

#main-bar {
  -webkit-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  -moz-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  -o-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  /* custom */
  height: 100%;
  width: 30px;
  position: fixed;
  top: 0px;
  transform: translateX(-363px);
  z-index: 10; }
  #main-bar .bar-fix {
    position: fixed;
    top: 0; }
  #main-bar .bar-wrapper {
    width: 410px;
    height: 100%; }
    #main-bar .bar-wrapper #bar-trigger {
      color: #2f304b;
      font-family: 'rali';
      width: 26px;
      height: 60px;
      margin-left: 16px;
      float: right;
      margin-top: 50px;
      opacity: 0;
      transition: all 0.25s ease-in; }
      #main-bar .bar-wrapper #bar-trigger:hover {
        cursor: pointer; }
        #main-bar .bar-wrapper #bar-trigger:hover .icon {
          color: #ff4d4d; }
      #main-bar .bar-wrapper #bar-trigger .icon {
        transition: all 0.25s ease-in;
        font-size: 1rem;
        transform: rotateY(0deg) translate(3px, 6px);
        transform-origin: 8px;
        backface-visibility: visible; }
      #main-bar .bar-wrapper #bar-trigger .tag-info {
        font-size: 1rem;
        width: 380px;
        height: 30px;
        text-align: right;
        transform: rotateZ(-90deg) translate(-190px, -174px);
        letter-spacing: 0.08rem; }
        #main-bar .bar-wrapper #bar-trigger .tag-info .message {
          font-weight: 300; }
        #main-bar .bar-wrapper #bar-trigger .tag-info .tag {
          font-family: 'raexbo';
          text-transform: lowercase; }
    #main-bar .bar-wrapper #bar-menu {
      width: 360px;
      display: inline-block;
      background-color: #161720;
      height: 100%;
      padding-top: 80px; }
      #main-bar .bar-wrapper #bar-menu .labels {
        padding-left: 20px;
        font-family: 'Josefin Sans';
        font-size: 1.1rem;
        font-weight: 300;
        color: rgba(255, 77, 77, 0.7);
        margin-bottom: 15px; }
      #main-bar .bar-wrapper #bar-menu .item-bar-link:hover {
        cursor: pointer; }
      #main-bar .bar-wrapper #bar-menu .main-bar-list {
        margin-bottom: 35px;
        padding: 20px; }
        #main-bar .bar-wrapper #bar-menu .main-bar-list .bar-main-item {
          margin-bottom: 1.1rem; }
          #main-bar .bar-wrapper #bar-menu .main-bar-list .bar-main-item span {
            text-transform: uppercase;
            font-family: 'Old Standard TT';
            -webkit-font-smoothing: antialiased;
            font-weight: 300;
            text-decoration: none;
            font-size: 2rem;
            color: #f3f3f6; }
            #main-bar .bar-wrapper #bar-menu .main-bar-list .bar-main-item span:hover {
              color: #b9dcd9; }
      #main-bar .bar-wrapper #bar-menu .secondary-bar-list {
        padding-left: 20px;
        margin-bottom: 110px; }
        #main-bar .bar-wrapper #bar-menu .secondary-bar-list li {
          display: inline-block;
          color: #f3f3f6;
          font-family: 'Inknut Antiqua';
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          line-height: 1.6rem;
          margin-right: 8px;
          font-size: 0.9em; }
          #main-bar .bar-wrapper #bar-menu .secondary-bar-list li:after {
            content: ','; }
          #main-bar .bar-wrapper #bar-menu .secondary-bar-list li:last-child:after {
            content: '.'; }
          #main-bar .bar-wrapper #bar-menu .secondary-bar-list li:hover {
            cursor: pointer;
            color: #aefff8; }
      #main-bar .bar-wrapper #bar-menu .bar-bottom {
        width: 100%;
        height: 100%;
        position: relative; }

#intro {
  width: 100%;
  min-height: 480px;
  z-index: 20; }

#main_title {
  position: absolute;
  font-family: 'Oldy';
  width: 280px;
  color: white;
  font-size: 2.2rem;
  left: 50%;
  top: 50%; }
  #main_title path {
    fill: transparent; }
  #main_title text {
    fill: #fff; }
  #main_title .h2_com {
    position: absolute;
    font-size: 0.9rem;
    top: 120px;
    left: 50%;
    transform: translateX(0px); }

#main-content {
  width: 90%;
  text-align: center;
  display: inline-block;
  height: auto;
  min-height: 700px; }
  #main-content:before {
    content: '';
    float: left;
    width: 10%;
    min-width: 52px;
    height: 400px; }
  #main-content .main-over-wrapper {
    display: inline-block;
    position: relative;
    width: 85%; }
    #main-content .main-over-wrapper .main-content-wrapper .grid-item-widthx2 {
      width: 66.6%; }
    #main-content .main-over-wrapper .main-content-wrapper .grid-item {
      width: 33.3%;
      overflow: hidden;
      transition: all 0.5s; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item:hover {
        cursor: pointer; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content {
        position: relative; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #ff4d4d;
          opacity: 0;
          transition: 0.05s all ease-out; }
          #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container:hover {
            opacity: .98 !important; }
          #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper {
            position: relative;
            height: 50%;
            min-height: 120px;
            top: 50%;
            transform: translateY(-50%);
            padding: 20px 40px;
            text-align: left;
            margin-top: -10px; }
            #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top {
              max-height: 70px;
              overflow: hidden; }
              #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-keywords .over-article-keyword {
                -webkit-font-smoothing: antialiased !important;
                font-family: 'saxi';
                text-transform: capitalize;
                color: rgba(22, 23, 32, 0.8);
                line-height: 1.3em;
                font-size: 1.2rem; }
                #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-keywords .over-article-keyword .over-article-word {
                  color: #aefff8;
                  transition: .1s all ease-out; }
                  #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-keywords .over-article-keyword .over-article-word:hover {
                    color: #161720; }
            #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom {
              border-top: 1px solid rgba(22, 23, 32, 0.8);
              margin-top: 10px;
              width: 100%;
              height: 220px;
              color: #161720; }
              #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom .over-article-content {
                margin-top: 10px;
                font-family: 'Josefin Sans';
                font-weight: 300;
                font-size: 1.1em;
                line-height: 1.3em;
                height: 30%;
                overflow: hidden; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content img {
          min-height: 200px;
          transition: all 0.3s ease-out;
          width: 100%; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-label {
        text-align: left;
        font-family: 'sax';
        color: #2f304b;
        line-height: 1.68rem;
        font-size: 1.2rem;
        margin-top: -6px;
        font-weight: 300;
        padding: 24px;
        letter-spacing: 0.02rem;
        padding-bottom: 65px; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-label:after {
          content: '  ⚓️';
          color: rgba(47, 48, 75, 0.5);
          vertical-align: bottom;
          font-size: 0.6em; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item:hover .article-label::after {
        color: #ff4d4d; }

.grid-sizer {
  width: 33.3%; }

@media all and (max-width: 3000px) {
  .grid-sizer {
    width: 25% !important; }
  .grid-item {
    width: 25% !important; }
  .grid-item-widthx2 {
    width: 50% !important; } }

@media all and (max-width: 1400px) {
  .grid-sizer {
    width: 33.3% !important; }
  .grid-item {
    width: 33.3% !important; }
  .grid-item-widthx2 {
    width: 66.6% !important; } }

@media all and (max-width: 1090px) {
  .grid-sizer {
    width: 50% !important; }
  .grid-item {
    width: 50% !important; }
  .grid-item-widthx2 {
    width: 100% !important; } }

@media all and (max-width: 582px) {
  .grid-sizer {
    width: 100% !important; }
  .grid-item {
    width: 100% !important; }
  .grid-item-widthx2 {
    width: 100% !important; } }

@keyframes rotateTimon {
  0% {
    transform: rotateZ(25deg); }
  100% {
    transform: rotateZ(-25deg); } }

.phrase-container {
  width: 100%;
  margin-bottom: 190px; }
  .phrase-container .phrase-wrapper {
    width: 100%;
    text-align: center;
    display: inline-block; }
    .phrase-container .phrase-wrapper .phrase-content {
      transform: rotate3d(0, 0, 0, 45deg); }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container {
        font-size: 7vw; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple {
          color: #2f304b;
          -webkit-font-smoothing: antialiased !important;
          letter-spacing: 0.3rem; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple:hover {
            cursor: pointer;
            color: rgba(47, 48, 75, 0.8);
            transition: all .1s ease-in; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='designer'] {
          font-size: 140%;
          font-family: 'Sax';
          margin-left: -0.25em;
          letter-spacing: .07em; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] {
          margin-left: 0.9em;
          font-family: 'Sax';
          font-size: 190%;
          letter-spacing: 1.16em;
          position: relative; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] span:before {
            font-family: 'Josefin Sans';
            content: '<';
            position: absolute;
            left: 50%;
            margin-left: -2.7em;
            font-size: 0.6em;
            font-weight: 100;
            top: .2em; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] span:after {
            top: .2em;
            font-family: 'Josefin Sans';
            margin-left: .21em;
            font-size: 0.6em;
            font-weight: 100;
            content: '>';
            left: 50%;
            position: absolute; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='sea lover'] {
          margin-bottom: 0.5em;
          font-size: 120%;
          font-family: 'Sax';
          letter-spacing: 0.11em;
          margin-left: -0.25em; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='timon'] {
          display: inline-block;
          width: 1.2em;
          margin-bottom: 0.7em; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='timon'] .move {
            transform-origin: 50%;
            animation: 4s infinite alternate rotateTimon;
            animation-timing-function: ease-in-out; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='thats-me'] {
          margin-left: 0.4em;
          font-size: 74%;
          font-family: 'Saxbo';
          letter-spacing: 0.87em;
          cursor: pointer;
          position: relative; }

@media all and (min-width: 1240px) {
  .phrase-container .phrase-wrapper {
    margin-bottom: 60px !important;
    margin-top: 200px !important; }
  .phrase-links-container {
    font-size: 6rem !important; } }

@media all and (min-width: 670px) {
  .phrase-container .phrase-wrapper {
    margin-bottom: 40px !important;
    margin-top: 100px !important; }
  .phrase-links-container {
    font-size: 2.5rem !important; } }

@media all and (min-width: 460px) {
  .phrase-container .phrase-wrapper {
    margin-top: 50px; } }

footer {
  height: 500px; }

#main-loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  transition: .5s all ease-out;
  backface-visibility: visible; }
  #main-loader .screen-black {
    width: 3000px;
    height: 3000px;
    left: 50%;
    top: 50%;
    margin-left: -1500px;
    margin-top: -1500px;
    position: absolute;
    background-color: #161720; }
  #main-loader .loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); }
    #main-loader .loader-wrapper .loader-icon {
      position: absolute;
      width: 78px;
      height: 78px;
      margin-left: -39px;
      margin-top: -39px;
      left: 50%;
      top: 50%; }
      #main-loader .loader-wrapper .loader-icon .loader-bottom {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 84px;
        height: 84px;
        margin-left: -29px;
        margin-top: 4px; }

.loader-visible {
  border-radius: 0% !important;
  width: 100% !important;
  height: 100% !important; }

body {
  background-image: linear-gradient(180deg, #f8f8f8 40%, #f3f3f3 40%, #f3f3f3 43.33%, #f6f6f6 43.33%, #f6f6f6 46.67%, #f0fffc 46.67%, #f0fffc 50%, #f8f8f8 50%, #f8f8f8 90%, #f3f3f3 90%, #f3f3f3 93.33%, #f6f6f6 93.33%, #f6f6f6 96.67%, #f0fffc 96.67%, #f0fffc 100%);
  background-size: 30.00px 30.00px;
  background-attachment: fixed; }

body {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #090911;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a:visited {
    color: #2f304b; }

#main-bar {
  position: fixed; }

#app {
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  -moz-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  -o-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  /* custom */
  transform: translateX(0px); }

.main-bar-open-app {
  transform: translateX(350px) !important; }

.main-bar-open-bar {
  transform: translateX(0px) !important; }

.noOverflow {
  overflow: hidden;
  height: 0; }
