@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700|Averia+Libre:300,400,700|Averia+Sans+Libre:400,700|Averia+Serif+Libre:300i,400,700|Old+Standard+TT:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, main,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  backface-visibility: hidden; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border-style: hidden; }

input[type=text]:focus, input[type=date]:focus, input[type=file]:focus, p[contenteditable=true]:focus,
input[type=submit]:focus {
  outline: transparent; }

svg:focus {
  outline: transparent; }

@font-face {
  font-family: 'Beauty';
  src: url("/fonts/Beauty.ttf"); }

@font-face {
  font-family: 'elel';
  src: url("/fonts/EleLight.otf"); }

@font-face {
  font-family: 'eleb';
  src: url("/fonts/EleBlack.otf"); }

@font-face {
  font-family: 'elem';
  src: url("/fonts/EleMedium.otf"); }

@font-face {
  font-family: 'eleMI';
  src: url("/fonts/eleMI.otf"); }

@font-face {
  font-family: 'sax';
  src: url("/fonts/sax.otf"); }

@font-face {
  font-family: 'saxi';
  src: url("/fonts/saxi.otf"); }

@font-face {
  font-family: 'saxbo';
  src: url("/fonts/saxbo.ttf"); }

@font-face {
  font-family: 'ratdbi';
  src: url("/fonts/RatDSemiBold.ttf"); }

@font-face {
  font-family: 'ratdb';
  src: url("/fonts/RatDSemiBoldItalic.ttf"); }

@font-face {
  font-family: 'ratMedium';
  src: url("/fonts/RatMedium.ttf"); }

@font-face {
  font-family: 'ratThin';
  src: url("/fonts/RatThin.ttf"); }

@font-face {
  font-family: 'ratlight';
  src: url("/fonts/RatLight.ttf"); }

@font-face {
  font-family: 'ratELight';
  src: url("/fonts/RatExtraLight.ttf"); }

@font-face {
  font-family: 'ratBook';
  src: url("/fonts/RatBook.ttf"); }

@font-face {
  font-family: 'ratBookI';
  src: url("/fonts/RatBookItalic.ttf"); }

@font-face {
  font-family: 'ratDemiB';
  src: url("/fonts/RatDemiB.ttf"); }

@font-face {
  font-family: 'plaBook';
  src: url("/fonts/plaBook.ttf"); }

@font-face {
  font-family: 'plaRegular';
  src: url("/fonts/plaRegular.ttf"); }

@font-face {
  font-family: 'plaHeavy';
  src: url("/fonts/plaHeavy.ttf"); }

@font-face {
  font-family: 'work100';
  src: url("/fonts/work100.ttf"); }

@font-face {
  font-family: 'work200';
  src: url("/fonts/work200.ttf"); }

@font-face {
  font-family: 'work500';
  src: url("/fonts/work500.ttf"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?60733903");
  src: url("../fonts/fontello.ttf?60733903") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60733903#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-flash:before {
  content: '\e800'; }

/* '' */
.icon-headphones:before {
  content: '\e801'; }

/* '' */
.icon-certificate:before {
  content: '\f0a3'; }

/* '' */
.view {
  opacity: 1 !important; }

.alert {
  color: #FF4369 !important; }

.rotate-icon {
  transform: rotateY(-180deg) !important; }

.bar-visible {
  background-color: #caf9ff; }

#main-bar {
  -webkit-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  -moz-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  -o-transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  transition: all 0.4s cubic-bezier(0.765, 0.005, 0.365, 1);
  /* custom */
  height: 100%;
  width: 30px;
  position: fixed;
  top: 0px;
  transform: translateX(-360px);
  z-index: 10; }
  #main-bar .bar-fix {
    position: fixed;
    top: 0; }
  #main-bar .bar-wrapper {
    width: 404px;
    height: 100%; }
    #main-bar .bar-wrapper #bar-trigger {
      transform: rotateZ(2deg);
      color: #131618;
      font-family: 'ratDemiB';
      width: 30px;
      height: 60px;
      margin-left: 6px;
      float: right;
      margin-top: 50px;
      opacity: 0;
      transition: all 0.25s ease-in;
      position: relative;
      text-transform: uppercase; }
      #main-bar .bar-wrapper #bar-trigger:hover {
        cursor: pointer; }
        #main-bar .bar-wrapper #bar-trigger:hover .icon {
          color: #FF4369; }
      #main-bar .bar-wrapper #bar-trigger .icon {
        transition: all 0.25s ease-in;
        font-size: 1rem;
        transform: rotateY(0deg) translate(3px, 6px);
        transform-origin: 8px;
        backface-visibility: visible; }
      #main-bar .bar-wrapper #bar-trigger .tag-info {
        font-size: 0.8rem;
        width: 380px;
        height: 26px;
        text-align: right;
        transform: rotateZ(-90deg) translate(-190px, -174px);
        letter-spacing: 0.08em;
        -webkit-font-smoothing: antialiased; }
        #main-bar .bar-wrapper #bar-trigger .tag-info span {
          padding: 1px 0px 0px 1px;
          display: inline-block; }
        #main-bar .bar-wrapper #bar-trigger .tag-info .message {
          font-weight: 300; }
        #main-bar .bar-wrapper #bar-trigger .tag-info .tag {
          font-family: 'ratDBi';
          text-transform: uppercase; }
    #main-bar .bar-wrapper #bar-menu {
      width: 360px;
      display: inline-block;
      background: #d2d2d2;
      height: 100%;
      padding-top: 0px; }
      #main-bar .bar-wrapper #bar-menu .item-bar-link:hover {
        cursor: pointer; }
      #main-bar .bar-wrapper #bar-menu .main-bar-list {
        padding: 10px 10px 0px 10px; }
        #main-bar .bar-wrapper #bar-menu .main-bar-list .bar-link {
          text-transform: uppercase;
          font-family: 'eleb';
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          font-size: 3.2rem;
          color: #131618;
          line-height: 3.4rem;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          -webkit-hyphenate-character: '⌁'; }
          #main-bar .bar-wrapper #bar-menu .main-bar-list .bar-link:hover {
            cursor: pointer;
            background: url("/img/noise1.png") rgba(230, 252, 255, 0.8);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 0px 0px 10px rgba(230, 252, 255, 0.5); }
      #main-bar .bar-wrapper #bar-menu .secondary-bar-list {
        padding: 6px 10px 0 10px; }
        #main-bar .bar-wrapper #bar-menu .secondary-bar-list .bar-link {
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          -webkit-hyphenate-character: '⌁';
          color: #131618;
          font-family: 'ratDemiB';
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          display: inline-block;
          text-transform: uppercase;
          margin-right: 9px;
          font-size: 1.2em;
          border: 2px solid transparent;
          margin-bottom: 6px;
          border-bottom: 2px solid #131618;
          padding: 3px 2px 0px 2px; }
          #main-bar .bar-wrapper #bar-menu .secondary-bar-list .bar-link:hover {
            cursor: pointer;
            border: 2px solid #e6fcff;
            color: #e6fcff;
            box-shadow: 0px 0px 4px 1px rgba(230, 252, 255, 0.4); }
      #main-bar .bar-wrapper #bar-menu .bar-bottom {
        width: 100%;
        height: 100%;
        position: relative; }

#intro {
  width: 100%;
  min-height: 480px;
  z-index: 20; }
  #intro .intro-wrapper {
    height: 105vh;
    position: relative; }
    #intro .intro-wrapper .my-name-container {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      margin-top: -5vh;
      width: 70vw;
      height: 70vh;
      min-width: 520px;
      min-height: 420px;
      max-width: 860px;
      max-height: 800px; }
      #intro .intro-wrapper .my-name-container .my-name {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        letter-spacing: -0.12em;
        font-family: 'eleb';
        text-align: center;
        color: rgba(19, 22, 24, 0.85);
        font-size: calc(5vw + 9vh + 6vmin);
        line-height: 1.05em;
        text-shadow: 0 -2px 8px rgba(255, 255, 255, 0.15), 0 -6px 8px rgba(189, 230, 219, 0.6), 0 -3px 2px rgba(202, 249, 255, 0.8), 0 4px 0px #ff7598, 0 -2px 2px rgba(255, 255, 255, 0.5), 0 7px 2px rgba(19, 22, 24, 0.2), 0 8px 8px rgba(255, 67, 105, 0.7), 0 20px 2px rgba(34, 31, 46, 0.3); }
        #intro .intro-wrapper .my-name-container .my-name .name-line {
          width: 100%; }
        #intro .intro-wrapper .my-name-container .my-name .second-line {
          margin-left: -0.7rem;
          width: 110%; }
          #intro .intro-wrapper .my-name-container .my-name .second-line .space {
            display: inline-block; }
          #intro .intro-wrapper .my-name-container .my-name .second-line .next-line {
            font-size: 1.4em; }

#main_title {
  position: absolute;
  font-family: 'Oldy';
  width: 280px;
  color: white;
  font-size: 2.2rem;
  left: 50%;
  top: 50%; }
  #main_title path {
    fill: transparent; }
  #main_title text {
    fill: #fff; }
  #main_title .h2_com {
    position: absolute;
    font-size: 0.9rem;
    top: 120px;
    left: 50%;
    transform: translateX(0px); }

.to-show {
  display: none; }

.show-keywords {
  display: flex !important;
  flex-wrap: wrap;
  align-content: flex-start; }

#main-content {
  width: 98%;
  text-align: center;
  display: inline-block;
  height: auto;
  min-height: 700px;
  margin: 100px 1% 0 1%; }
  #main-content .main-over-wrapper {
    display: inline-block;
    position: relative;
    min-width: 250px;
    width: 100%; }
    #main-content .main-over-wrapper .main-content-wrapper .grid-item-widthx2 {
      width: 66.6%; }
    #main-content .main-over-wrapper .main-content-wrapper .grid-item {
      box-shadow: 0 3px 0 0 rgba(19, 22, 24, 0.25);
      width: 33.3%;
      overflow: hidden;
      border-radius: 2px; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item:hover {
        cursor: pointer; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content {
        position: relative;
        margin-bottom: -4px;
        overflow: hidden; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content:hover .over-article-container {
          transform: translate(0, 0);
          left: 0px;
          top: 0px;
          border-radius: 0;
          background: rgba(34, 31, 46, 0.9); }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #FF4369;
          transition: 0.3s all;
          border-radius: 10px;
          transform: translate(100%, -100%);
          left: -12px;
          top: 12px;
          transform-origin: 0 0; }
          #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-loader {
            width: 100%;
            height: 100%;
            background-color: #131618;
            position: absolute;
            top: 0;
            left: 0; }
          #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper {
            position: relative;
            height: 50%;
            text-align: left; }
            #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top {
              overflow: hidden;
              width: 100%; }
              #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-title {
                display: inline-block;
                margin: 20px 45px 0px 20px;
                padding-bottom: -2px;
                font-family: 'eleb';
                text-transform: uppercase;
                font-size: 3.1em;
                line-height: 1.1em;
                -webkit-font-smoothing: antialiased !important;
                width: 70%;
                color: #caf9ff;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                -webkit-hyphenate-character: '⌁'; }
              #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-type {
                color: rgba(34, 31, 46, 0.9);
                font-size: 1rem;
                font-family: 'ratDemiB';
                margin: 30px 20px 10px 22px;
                -webkit-font-smoothing: antialiased !important; }
                #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-type span {
                  text-transform: uppercase;
                  vertical-align: top;
                  -webkit-hyphens: none;
                  -moz-hyphens: none;
                  -ms-hyphens: none;
                  hyphens: none;
                  letter-spacing: 0.05em;
                  background-color: #FF4369;
                  padding: 5px 6px 2px 5px;
                  position: relative; }
                  #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-top .over-article-type span:before {
                    content: "type:";
                    font-family: 'ratDemiB';
                    text-transform: none;
                    font-size: 0.7rem;
                    top: -16px;
                    left: 2px;
                    position: absolute;
                    color: #FF4369; }
            #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom {
              width: 100%;
              height: 240px;
              text-align: left; }
              #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom .over-article-keywords {
                width: 100%;
                height: 100%;
                display: none;
                margin-left: 20px;
                margin-top: 10px; }
                #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom .over-article-keywords .over-article-keyword {
                  margin-top: 10px;
                  margin-right: 2px;
                  -webkit-font-smoothing: antialiased !important;
                  font-family: 'ratDemiB';
                  text-transform: capitalize;
                  font-size: 1em;
                  text-decoration: underline;
                  color: #caf9ff;
                  text-decoration-color: transparent;
                  padding: 4px 2px 1px 2px; }
                  #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom .over-article-keywords .over-article-keyword .over-article-word {
                    text-transform: uppercase;
                    transition: .1s all ease-out;
                    border: 2px solid #caf9ff;
                    padding: 5px 5px 1px 4px; }
                  #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content .over-article-container .over-article-wrapper .over-article-bottom .over-article-keywords .over-article-keyword:hover .over-article-word {
                    border: 2px solid #FF4369;
                    color: #FF4369; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-content img {
          min-height: 200px;
          transition: all 0.3s ease-out;
          width: 100%; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item .article-label {
        text-align: left;
        font-family: 'ratLight';
        color: #131618;
        font-size: 0.8em;
        margin-top: 8px;
        font-weight: 300;
        padding: 0 10px;
        padding-bottom: 14px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      #main-content .main-over-wrapper .main-content-wrapper .grid-item:hover .article-label {
        color: #ff4369; }
        #main-content .main-over-wrapper .main-content-wrapper .grid-item:hover .article-label::after {
          color: rgba(168, 255, 255, 0.87); }

.grid-sizer {
  width: 33.3%; }

@media all and (max-width: 3000px) {
  .grid-sizer {
    width: calc( 25%) !important; }
  .grid-item {
    width: calc( 25%) !important; }
  .grid-item-widthx2 {
    width: calc( 50%) !important; } }

@media all and (max-width: 1400px) {
  .grid-sizer {
    width: calc(33.3%) !important; }
  .grid-item {
    width: calc(33.3%) !important; }
  .grid-item-widthx2 {
    width: calc(66.6%) !important; } }

@media all and (max-width: 1090px) {
  .grid-sizer {
    width: calc(50%) !important; }
  .grid-item {
    width: calc(50%) !important; }
  .grid-item-widthx2 {
    width: 100% !important; } }

@media all and (max-width: 582px) {
  #main-content {
    margin-left: calc(5%);
    margin-right: 0% !important; }
  .grid-sizer {
    width: 100% !important; }
  .grid-item {
    width: 100% !important; }
  .grid-item-widthx2 {
    width: 100% !important; } }

.phrase-container {
  width: 100%; }
  .phrase-container .phrase-wrapper {
    width: 100%;
    text-align: center;
    display: inline-block; }
    .phrase-container .phrase-wrapper .phrase-content {
      transform: rotate3d(0, 0, 0, 45deg); }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container {
        font-size: 7vw; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple {
          color: #131618;
          -webkit-font-smoothing: antialiased !important;
          letter-spacing: 0.3rem; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple:hover {
            cursor: pointer;
            color: rgba(19, 22, 24, 0.8);
            transition: all .1s ease-in; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='designer'] {
          font-size: 140%;
          font-family: 'Sax';
          margin-left: -0.25em;
          letter-spacing: .07em; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] {
          margin-left: 0.9em;
          font-family: 'Sax';
          font-size: 190%;
          letter-spacing: 1.16em;
          position: relative; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] span:before {
            font-family: 'Josefin Sans';
            content: '<';
            position: absolute;
            left: 50%;
            margin-left: -2.7em;
            font-size: 0.6em;
            font-weight: 100;
            top: .2em; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='dev'] span:after {
            top: .2em;
            font-family: 'Josefin Sans';
            margin-left: .21em;
            font-size: 0.6em;
            font-weight: 100;
            content: '>';
            left: 50%;
            position: absolute; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='sea lover'] {
          margin-bottom: 0.5em;
          font-size: 120%;
          font-family: 'Sax';
          letter-spacing: 0.11em;
          margin-left: -0.25em; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='timon'] {
          display: inline-block;
          width: 1.2em;
          margin-bottom: 0.7em; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='timon'] .move {
            transform-origin: 50%;
            animation: 4s infinite alternate rotateTimon;
            animation-timing-function: ease-in-out; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='thats-me'] {
          margin-left: 0.4em;
          font-size: 74%;
          font-family: 'Saxbo';
          letter-spacing: 0.87em;
          cursor: pointer;
          position: relative; }

@media all and (min-width: 1240px) {
  .phrase-container .phrase-wrapper {
    margin-bottom: 60px !important;
    margin-top: 200px !important; }
  .phrase-links-container {
    font-size: 6rem !important; } }

@media all and (min-width: 670px) {
  .phrase-container .phrase-wrapper {
    margin-bottom: 40px !important;
    margin-top: 100px !important; }
  .phrase-links-container {
    font-size: 2.5rem !important; } }

@media all and (min-width: 460px) {
  .phrase-container .phrase-wrapper {
    margin-top: 50px; } }

footer {
  height: 500px; }

.display-none {
  display: none; }

#main-loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  transition: .5s all ease-out;
  backface-visibility: visible; }
  #main-loader .screen-black {
    width: 3000px;
    height: 3000px;
    left: 50%;
    top: 50%;
    margin-left: -1500px;
    margin-top: -1500px;
    position: absolute;
    background-color: #d8d8d8; }
  #main-loader .loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); }
    #main-loader .loader-wrapper .loader-icon {
      position: absolute;
      width: 130px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      #main-loader .loader-wrapper .loader-icon .loader-hi {
        position: absolute;
        right: 32px;
        top: -16px;
        width: 20px;
        line-height: 1.1rem;
        font-family: 'eleb';
        font-size: 1.1rem;
        color: #131618;
        z-index: -1; }

.loader-visible {
  border-radius: 0% !important;
  width: 100% !important;
  height: 100% !important; }

.article-back-black {
  background-color: #221f2e !important;
  color: #1b1920 !important; }

.article-color-black {
  color: #f3f3f6 !important;
  -webkit-font-smoothing: antialiased !important; }

.article-color-white {
  color: #221f2e !important;
  -webkit-font-smoothing: antialiased !important; }

.article-white-black {
  background-color: #1b1920 !important; }

#article-content {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 11;
  overflow-y: auto; }
  #article-content .article-content-wrapper {
    background-color: #EAEAEA;
    width: 100%;
    position: relative;
    display: inline-block; }
    #article-content .article-content-wrapper .article-closer-container {
      position: fixed;
      right: 55px;
      top: 35px;
      color: #FF4369;
      z-index: 11;
      width: 30px;
      height: 30px; }
      #article-content .article-content-wrapper .article-closer-container:after {
        content: "back";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 3px;
        margin-top: 2px;
        transform: translate(-50%, -50%);
        font-family: 'eleb';
        text-transform: uppercase;
        font-size: 0.65rem;
        letter-spacing: 0.1rem;
        opacity: 0;
        transition: 0.1s; }
      #article-content .article-content-wrapper .article-closer-container .article-close-line {
        position: absolute;
        width: 35px;
        height: 2px;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: #FF4369;
        transform-origin: 50% 0%;
        transition: 0.1s; }
      #article-content .article-content-wrapper .article-closer-container .line-one {
        margin-left: 2px;
        transform: rotate(45deg); }
      #article-content .article-content-wrapper .article-closer-container .line-two {
        transform: rotate(-45deg); }
      #article-content .article-content-wrapper .article-closer-container:hover {
        cursor: pointer; }
        #article-content .article-content-wrapper .article-closer-container:hover .line-one {
          margin-left: 0px;
          top: 10%;
          transform: rotate(0deg); }
        #article-content .article-content-wrapper .article-closer-container:hover .line-two {
          top: 90%;
          transform: rotate(0deg); }
        #article-content .article-content-wrapper .article-closer-container:hover:after {
          opacity: 1; }
    #article-content .article-content-wrapper .article-content-info {
      margin: 0 auto;
      color: #221f2e;
      width: 100%;
      min-width: 340px; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable {
        font-weight: 400;
        width: 100%;
        text-align: left; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header {
          display: inline-block;
          position: relative; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top {
            position: relative; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-main-image {
              width: 100%;
              max-height: 600px;
              overflow: hidden; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-main-image img {
                width: 100%; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container {
              position: absolute;
              top: 0; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-title {
                font-size: calc(48px + 4 * (100vw - 320px) / 1180);
                font-family: 'eleb';
                text-transform: uppercase;
                line-height: calc(66px + 4 * (100vw - 320px) / 1180);
                min-width: 360px;
                width: 60%;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphenate-character: '⌁';
                hyphens: auto;
                margin: 25px 5% 0px 5%; }
                #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-title span {
                  padding-right: 5px; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-type-container {
                margin-left: 5%; }
                #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-type-container .article-content-type {
                  margin-left: 3px;
                  display: inline-block;
                  vertical-align: middle;
                  font-family: 'ratDemiB';
                  border-radius: 5%;
                  margin-top: 6px;
                  color: white;
                  text-transform: uppercase;
                  background-color: #FF4369;
                  padding: 6px 5px 4px 6px;
                  letter-spacing: 0.1rem;
                  font-size: 0.7rem; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container {
            width: 100%; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle {
              font-family: 'ratDemiB';
              width: 60%;
              float: right;
              margin: 40px 10% 30px 40px;
              font-size: calc(13px + 4 * (100vw - 320px) / 1180);
              line-height: 1.55rem;
              -webkit-font-smoothing: antialiased !important; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container {
                margin-bottom: 20px;
                margin-top: 8px; }
                #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords {
                  background-color: #221f2e;
                  display: inline-block;
                  height: 17px;
                  border-radius: 1px; }
                  #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword {
                    font-family: 'ratBook';
                    text-transform: uppercase;
                    font-size: 0.7rem;
                    vertical-align: top;
                    padding: 0px 5px 4px 5px;
                    margin-top: -3px;
                    margin-right: 10px;
                    display: inline-block;
                    color: #1b1920; }
                    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:before {
                      content: '#';
                      display: inline-block;
                      margin-right: -5px; }
                    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:nth-last-of-type(1) {
                      margin-right: 0px; }
                    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:hover {
                      font-family: 'ratDemiB';
                      cursor: pointer; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph {
          width: 100%;
          min-width: 360px;
          max-width: 100%; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph p {
            margin: 0 auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            -webkit-hyphenate-character: '⌁';
            width: 80%;
            font-family: 'ratBook';
            line-height: calc(22px + 4 * (100vw - 320px) / 1180);
            font-size: calc(12px + 4 * (100vw - 320px) / 1180);
            margin-bottom: 30px; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph p:before {
              content: "    ";
              padding-right: 0px;
              padding-left: 10px; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture {
          width: 100%;
          position: relative;
          min-width: 360px;
          margin-bottom: 50px; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture .article-content-picture-container {
            width: 65%;
            display: inline-block; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture .article-content-picture-container img {
              width: 100%; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture figcaption {
            margin-left: 10px;
            vertical-align: 30px;
            font-family: 'ratBook';
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            -webkit-hyphenate-character: '⌁';
            line-height: calc(18px + 4 * (100vw - 320px) / 1180);
            font-size: calc(10px + 4 * (100vw - 320px) / 1180);
            display: inline-block;
            width: 30%; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture-xl {
          min-width: 360px;
          position: relative;
          margin: 50px 0px; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture-xl img {
            width: 100%; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote {
          width: 40%;
          margin-left: 10%;
          float: left;
          margin-right: 10px; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p {
            font-size: calc(18px + 4 * (100vw - 320px) / 1180);
            line-height: 1.2em;
            margin: 0 30px 10px 0; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p q {
              font-family: 'eleM'; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p:before {
              content: '"';
              display: inline-block;
              font-family: 'ratBookI';
              font-size: 1.2em; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p:after {
              content: '"';
              display: inline-block;
              font-family: 'ratBookI';
              font-size: 1.2em; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote:nth(odd) {
            float: right !important;
            margin-right: 10%; }
    #article-content .article-content-wrapper .article-content-footer {
      width: 100%;
      height: 250px;
      clear: both;
      display: inline-block;
      text-align: center;
      padding-top: 100px;
      font-family: 'saxi';
      color: #17161a;
      font-size: 3rem; }

.article-open {
  width: 100% !important;
  height: 100% !important; }

@media all and (max-width: 640px) {
  #article-content .article-content-wrapper .article-content-info {
    padding: 0;
    width: 100%; }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container {
      position: absolute;
      top: 0; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-title {
        font-size: calc(30px + 4 * (100vw - 320px) / 1180);
        line-height: calc(40px + 4 * (100vw - 320px) / 1180);
        margin: 15px 5% 0px 5%; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-type-container {
        margin-left: 5%; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-type-container .article-content-type {
          margin-left: 3px;
          display: inline-block;
          vertical-align: middle;
          font-family: 'ratDemiB';
          border-radius: 5%;
          margin-top: 6px;
          color: white;
          text-transform: uppercase;
          background-color: #FF4369;
          padding: 6px 5px 4px 6px;
          letter-spacing: 0.1rem;
          font-size: 0.7rem; }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container {
      width: 100%; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle {
        font-family: 'ratDemiB';
        width: 90%;
        float: none;
        padding: 0;
        margin: 40px 5% 50px 5%;
        font-size: calc(15px + 4 * (100vw - 320px) / 1180); }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container {
          margin-bottom: 20px;
          margin-top: 8px; }
          #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords {
            background-color: #221f2e;
            display: inline-block;
            height: 17px;
            border-radius: 1px; }
            #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword {
              font-family: 'ratBook';
              text-transform: uppercase;
              font-size: 0.7rem;
              vertical-align: top;
              padding: 0px 5px 4px 5px;
              margin-top: -3px;
              margin-right: 10px;
              display: inline-block;
              color: #1b1920; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:before {
                content: '#';
                display: inline-block;
                margin-right: -5px; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:nth-last-of-type(1) {
                margin-right: 0px; }
              #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-subtitle-container .article-subtitle .article-keywords-container .article-keywords .article-one-keyword:hover {
                font-family: 'ratDemiB';
                cursor: pointer; }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph {
      min-width: 360px; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph p {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        width: 90%;
        -webkit-hyphenate-character: '⌁';
        padding: 0;
        font-size: calc(13px + 4 * (100vw - 320px) / 1180);
        line-height: calc(22px + 4 * (100vw - 320px) / 1180); }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture {
      width: 100%;
      padding: 0px !important;
      float: left; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture img {
        width: 100%; }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote {
      width: 84%;
      float: none;
      margin: 0 8% 30px 8%; }
      #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p {
        font-size: calc(18px + 4 * (100vw - 320px) / 1180);
        line-height: 1.3em;
        margin: 0; }
        #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote p q {
          font-family: 'eleM'; } }

@media all and (min-width: 1480px) {
  #article-content .article-content-wrapper .article-content-info .article-content-readable .article-header .article-header-top .article-content-title-container .article-content-title {
    font-size: calc(58px + 4 * (100vw - 320px) / 1180);
    font-family: 'eleb';
    line-height: calc(78px + 4 * (100vw - 320px) / 1180);
    margin: 15px 5% 0px 5%;
    width: 50%; }
  #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph p {
    margin-top: 50px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 90%;
    column-count: 2;
    column-gap: 80px;
    column-rule: 1px dotted;
    -webkit-hyphenate-character: '⌁';
    padding: 0;
    font-size: calc(11px + 4 * (100vw - 320px) / 1180);
    line-height: calc(20px + 4 * (100vw - 320px) / 1180); }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-paragraph p:after {
      content: "↙︎";
      width: 20px;
      height: 2px; }
  #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture {
    width: 100%;
    padding: 0px !important;
    float: left; }
    #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-picture img {
      width: 100%; }
  #article-content .article-content-wrapper .article-content-info .article-content-readable .article-content-quote {
    width: 40%;
    margin: 44px 30% 40px 30%;
    float: none; } }

@keyframes eyes {
  0% {
    background-position: 0 0; }
  3% {
    background-position: 0 -168px; }
  6% {
    background-position: 0 0; }
  46% {
    background-position: 0 0; }
  49% {
    background-position: 0 -168px; }
  52% {
    background-position: 0 0; }
  55% {
    background-position: 0 -168px; }
  58% {
    background-position: 0 0; } }

.cv-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dadada;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  font-family: 'ratDemiB';
  color: #221f2e;
  padding-bottom: 1rem; }
  .cv-container .cv-design {
    background-color: #f3f3f3; }
  .cv-container .cv-dev {
    background-color: #aefff8; }
  .cv-container .cv-teamwork {
    background-color: #221f2e;
    color: #f3f3f3;
    -webkit-font-smoothing: antialiased !important; }
  .cv-container .cv-main {
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    font-size: calc(16px + 4 * (100vw - 320px) / 1180);
    font-family: 'ratDemiB';
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
    .cv-container .cv-main .cv-main-top .cv-main-top-left {
      float: left;
      position: relative;
      padding: 0 1.8rem 1rem 0; }
      .cv-container .cv-main .cv-main-top .cv-main-top-left .cv-me-eyes {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -54px;
        margin-left: -12px;
        width: 130px;
        height: 20px;
        background: url("/img/eyes.png") no-repeat;
        animation: eyes 7s steps(8) infinite; }
    .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top {
      margin-bottom: 1rem; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-name {
        font-family: 'ratDBi';
        font-size: 2.5rem;
        line-height: 1em; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-title {
        font-family: 'ratDBi';
        font-size: 1.5rem;
        line-height: 1em; }
        .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-title span {
          font-size: 0.8rem; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-secondTitle {
        font-family: 'ratDBi';
        font-size: 1.5rem;
        line-height: 1em; }
        .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-secondTitle span {
          font-size: 0.8rem; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-info {
        line-height: 1.3em;
        font-size: .9em;
        font-family: 'ratMedium'; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-top .cv-main-top-right-mail {
        font-family: 'ratMedium';
        line-height: 1.3em;
        font-size: 0.9rem;
        color: #FF4369; }
    .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-bottom {
      margin-bottom: 136px;
      position: relative; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-bottom .cv-main-top-right-bottom-languages-title {
        font-family: 'ratDBi';
        font-size: 1.5rem;
        margin-bottom: 0.4rem; }
      .cv-container .cv-main .cv-main-top .cv-main-top-right .cv-main-top-right-bottom .cv-main-top-right-bottom-languages {
        font-family: 'ratMedium';
        position: absolute;
        font-size: 0.7rem;
        width: 100%;
        z-index: -1; }
    .cv-container .cv-main .cv-main-bottom-bio {
      line-height: 1.4rem; }
      .cv-container .cv-main .cv-main-bottom-bio .cv-main-bottom-bio-text p {
        margin-bottom: 1rem; }
      .cv-container .cv-main .cv-main-bottom-bio .cv-main-bottom-bio-text .cv-bio-highlight {
        font-family: 'ratDBi';
        color: #FF4369;
        cursor: pointer; }
  .cv-container .cv-skill-body {
    padding: 1rem;
    margin: 1rem 1rem 0 1rem; }
    .cv-container .cv-skill-body .cv-skill-header {
      margin-bottom: .5rem; }
      .cv-container .cv-skill-body .cv-skill-header .cv-skill-header-title {
        font-size: 2rem;
        font-family: 'ratDBi'; }
      .cv-container .cv-skill-body .cv-skill-header .cv-skill-header-years {
        font-size: 1rem;
        font-family: 'ratDB';
        color: #FF4369; }
    .cv-container .cv-skill-body .cv-skill-skills {
      margin-bottom: 1.3rem; }
      .cv-container .cv-skill-body .cv-skill-skills .cv-skill-skills-title {
        font-family: 'ratDBi';
        margin-bottom: .5rem;
        font-size: 1.3em; }
      .cv-container .cv-skill-body .cv-skill-skills .cv-skill-skills-content {
        font-family: 'ratDemiB';
        font-size: 0.9rem;
        margin-left: 1rem;
        line-height: 1.2rem; }
    .cv-container .cv-skill-body .cv-skill-competences .cv-skill-competences-title {
      margin-bottom: .5rem;
      font-family: 'ratDBi';
      font-size: 1.3em; }

.cv-filled-bar-container {
  position: relative;
  margin-bottom: 4px; }
  .cv-filled-bar-container .cv-filled-bar {
    width: 100%;
    display: grid;
    grid-auto-flow: column; }
    .cv-filled-bar-container .cv-filled-bar .filled-square {
      background-color: #221f2e; }
      .cv-filled-bar-container .cv-filled-bar .filled-square .cv-filled-bar-title {
        font-size: 0.7rem;
        font-family: 'ratDemiB';
        padding: 4px; }
      .cv-filled-bar-container .cv-filled-bar .filled-square:nth-last-child(1) {
        align-self: center;
        color: #f3f3f3; }

#app {
  background: url("/img/noise1.png"), #d2d2d2; }

body {
  font-family: 'ratBook';
  font-weight: 400;
  color: #090911;
  overflow-x: hidden;
  background-color: #d2d2d2; }

a {
  text-decoration: none; }
  a:visited {
    color: #131618; }

#main-bar {
  position: fixed; }

#app {
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  -moz-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  -o-transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  transition: all 0.25s cubic-bezier(0.765, 0.005, 0.365, 1);
  /* custom */
  width: 100%;
  transform: translateX(0px); }

.main-bar-open-app {
  transform: translateX(350px) !important; }

.main-bar-open-bar {
  transform: translateX(0px) !important; }

.no-overflow {
  overflow: hidden;
  height: 100%; }

.fixScroll {
  overflow: hidden;
  height: 0; }
