@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, main,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  backface-visibility: hidden; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border-style: hidden; }

input[type=text]:focus, input[type=date]:focus, input[type=file]:focus, p[contenteditable=true]:focus,
input[type=submit]:focus {
  outline: transparent; }

svg:focus {
  outline: transparent; }

@font-face {
  font-family: 'Beauty';
  src: url("/fonts/Beauty.otf"); }

@font-face {
  font-family: 'Oldy';
  src: url("/fonts/Arkhip.ttf"); }

@font-face {
  font-family: 'MySans';
  src: url("/fonts/onesans.otf"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?60733903");
  src: url("../fonts/fontello.ttf?60733903") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60733903#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-flash:before {
  content: '\e800'; }

/* '' */
.icon-headphones:before {
  content: '\e801'; }

/* '' */
.icon-certificate:before {
  content: '\f0a3'; }

/* '' */
#main-bar {
  position: fixed;
  height: 30px;
  top: 20px;
  left: 25px;
  text-align: right; }
  #main-bar .bar-wrapper #bar-trigger {
    color: #ff2b70;
    font-size: 1.1rem;
    font-family: 'Josefin Sans'; }
  #main-bar .bar-wrapper .bar-list .bar-item {
    margin-bottom: 3px; }
    #main-bar .bar-wrapper .bar-list .bar-item a {
      text-decoration: none;
      font-size: 1.1rem;
      color: #313131; }
      #main-bar .bar-wrapper .bar-list .bar-item a:visited {
        color: #313131; }

#intro {
  width: 100%;
  background-color: red; }

#main_title {
  position: absolute;
  font-family: 'Oldy';
  width: 250px;
  color: white;
  font-size: 2rem;
  transform: translate(-149px, -84px);
  font-weight: 100;
  letter-spacing: .1rem; }
  #main_title path {
    fill: transparent; }
  #main_title text {
    fill: #fff; }
  #main_title .h2_com {
    position: absolute;
    font-size: 0.7rem;
    top: 106px;
    left: 50%;
    transform: translateX(3px); }

#main-content .main-content-wrapper {
  min-height: 800px; }

.phrase-container {
  width: 100%;
  height: 250px;
  position: relative; }
  .phrase-container .phrase-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    min-width: 350px;
    max-width: 950px;
    transform: translate(-50%, -170%);
    text-align: center; }
    .phrase-container .phrase-wrapper .phrase-content .phrase-links-container {
      font-size: 8vw;
      max-font-size: 9vw; }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple {
        color: #313131;
        -webkit-font-smoothing: antialiased !important;
        letter-spacing: 0.2rem;
        font-family: 'MySans'; }
        .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple .phrase-word .phrase-link {
          cursor: pointer; }
          .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple .phrase-word .phrase-link:hover {
            color: #ff2b70; }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='num0'] {
        font-size: 100%;
        line-height: 1.1em; }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='num1'] {
        font-size: 60%;
        line-height: 1.1em; }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='num2'] {
        font-size: 45%;
        line-height: 1.2em; }
      .phrase-container .phrase-wrapper .phrase-content .phrase-links-container .phrase-couple[title='thats-me'] {
        font-size: 35%;
        line-height: 1.2em; }

@media all and (min-width: 460px) {
  .phrase-container {
    height: 450px; }
    .phrase-container .phrase-wrapper {
      transform: translate(-50%, -140%); } }

@media all and (min-width: 960px) {
  .phrase-container {
    height: 450px; }
    .phrase-container .phrase-wrapper {
      transform: translate(-50%, -50%); }
  .phrase-links-container {
    font-size: 5.4rem !important; } }

@media all and (min-width: 1240px) {
  .phrase-links-container {
    font-size: 6rem !important; } }

body {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #090911;
  background-color: #f3f3f6;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a:visited {
    color: #313131; }
